/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mt_10{
  margin-top:10px;
}
.mb_10{
  margin-bottom:10px;
}
.mt_20{
  margin-top:20px;
}
.mt_30{
  margin-top:30px;
}
.mt_35{
  margin-top:35px;
}
.mb_35{
  margin-bottom:35px;
}
.mt_40{
  margin-top:40px;
}
.mb_30{
  margin-bottom:30px;
}
.mb_40{
  margin-bottom:40px;
}
.mt_45{
  margin-top:45px;
}
.mt_60{
  margin-top:60px;
}
.mt_90{
  margin-top:90px;
}
.mb_90{
  margin-bottom:90px;
}
.mb_110{
  margin-bottom:110px;
}
.mb_120{
  margin-bottom:120px;
}
.font_10{
  font-size:12px;
}
.font_we700{
  font-weight:700;
}
.ivu-modal-content{
  border-radius:32px!important;
}
.ivu-tabs-nav .ivu-tabs-tab:hover{
  color:#41B9B2!important;
}
/* .ivu-tabs-nav-container:focus .ivu-tabs-tab-focused{
  color:#41B9B2!important;
} */
.ivu-tabs-nav .ivu-tabs-tab:active{
  color:#41B9B2!important;
}

.ivu-tabs-bar .ivu-tabs-nav-container:focus .ivu-tabs-tab-focused {
    /* border-color: #41B9B2 !important; */
    /* border-color:unset!important; */
    border-color: #41B9B2 !important;
}
.ivu-modal-content,.ivu-modal-body{
  height:100%;
}
.ivu-form-item{
  margin-bottom:15px !important;
}
.ivu-form-item-error-tip{
  padding-top:1px!important;
  font-size:10px;
}


